.custom-navbar{
    background-color: #d4744a !important;
}

.nav-title{
    font-weight: bold;
    font-size: 32px !important;
    color: white !important;
    padding-left: 20px;
}


.navbar-button{
    margin-right: 10px;
    background-color: #ffcc80;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 20px !important;
}   

.nav-link{
    color: white !important;
}


