.landing {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.bg-section {
  position: relative;
  background-image: url("../assets/food2.jpg");
  height: 1200px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.hero-section{
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  z-index: 2;
}

.landing-title {
  color: white;
}


.info-section{
  display: block;
  text-align: center;
  color: #4A4A4A ;
}

.info-sentence{
  font-size: 28px;
  margin-top: 20px;
}