.results{
  display: block;
  text-align: center;
}

.results-title{
    font-size: 35px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 30px;
    text-align: center;
}

.results-section{
    display: flex;
    justify-content: center;
    flex-direction: row; 
    align-items: center;
    gap: 30px;
    padding-top: 10px;
}


.results-name{
    font-size: 30px;
    color: #4a4a4a;
}

.price{
    font-size: 20px;
    color: #4a4a4a;
}